<html>
  {% from "universal/header.njk" import header %}
  {{ header() }}

  <div class="container mb-4">
    {% block content %}

    {% endblock %}
  </div>

  {% from "universal/scripts.njk" import scripts %}
</html>
