{% extends "universal/template.njk" %}

{% block content %}
  <div class="row justify-content-center pt-5">
    <div class="col-10 text-center">
      <h1>Directory could not be found!</h1>
      <p>
        Make sure you're accessing a directory that exists
      </p>
    </div>
  </div>
{% endblock %}
