{% extends "universal/template.njk" %}

{% block content %}
  {% if dirs.length %}
    <div class="row mt-3">
      <h4>Directories</h4>
      {% for directory in dirs %}
        <div class="col-4 my-2 px-2">
          <a href="{{ BASE_URL }}{{ currentRoute }}/{{ directory }}">
            <div class="w-100 obj p-2">
              <i class="fas fa-folder"></i> {{ directory }}
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if not dirs.length %}
    <div class="row mt-3">
      <h4>No Directories!</h4>
    </div>
  {% endif %}

  {% if files.length %}
    <div class="row mt-3">
      <h4>Files</h4>
      {% for file in files %}
        <div class="col-4 my-2 px-2">
          <div class="w-100 obj p-2">
            <i class="far fa-file-alt"></i> {{ file }}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if not files.length %}
    <div class="row mt-3">
      <h4>No Files!</h4>
    </div>
  {% endif %}

{% endblock %}
