{% extends "universal/template.njk" %}

{% block content %}
  {% if dirs.length %}
    <div class="row mt-3 justify-content-center justify-content-sm-start">
      <h4>
        <a href="{{ BASE_URL }}{{ prevRoute }}" class="{{ backDir }}">
          <i class="fas fa-arrow-left back-button {{ backDir }}"></i>
        </a>
        Directories
      </h4>
      {% for directory in dirs %}
        <div class="col-11 col-sm-6 col-lg-4 col-xl-3 my-2 px-2">
          <a href="{{ BASE_URL }}{{ currentRoute }}/{{ directory.link }}" title="{{ directory.name }}">
            <div class="w-100 obj p-2 text-truncate">
              <i class="fas fa-folder mr-1"></i> {{ directory.name }}
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if not dirs.length %}
    <div class="row mt-3">
      <h4>
        <a href="{{ BASE_URL }}{{ prevRoute }}" class="{{ backDir }}">
          <i class="fas fa-arrow-left back-button {{ backDir }}"></i>
        </a>
        No Directories!
      </h4>
    </div>
  {% endif %}

  {% from 'components/file.component.njk' import fileComponent %}

  {% if files.length %}
    <div class="row mt-3 justify-content-center justify-content-sm-start">
      <h4>Files</h4>
      {% for file in files %}
        <div class="col-11 col-sm-6 col-lg-4 col-xl-3 my-2 px-2">
          {{ fileComponent(file, BASE_URL + currentRoute + '/' + file.name) }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if not files.length %}
    <div class="row mt-3">
      <h4>No Files!</h4>
    </div>
  {% endif %}

{% endblock %}
